body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: linear-gradient(to bottom, #b0b0ad, #f2f2f2, #dbdbdb, #eaeaea);
  width: 95vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5em;
}
